$color-primary: #006799;
$color-secondary: #8c6239;
$color-primary-accent: #cce1eb;
$color-primary-accent2: #e6f1f6;
$texture1: url('../img/texture_1.png');
$texture2: url('../img/texture_2.png');   
#texture1 {
    .sg-swatch {
        background-image: $texture1;
    }
}
#texture2 {
    .sg-swatch {
        background-color: $color-secondary;
        background-image: $texture2;
    }
}
#swatch_primary {
    .sg-swatch {
        background:$color-primary;
    }
    .value:before {
        content: '#{$color-primary}';
    }
}
#swatch_secondary {
    .sg-swatch {
        background:$color-secondary;
    }
    .value:before {
        content: '#{$color-secondary}';
    }
}
#swatch_accent1 {
    .sg-swatch {
        background: $color-primary-accent;
    }
    .value:before {
        content: '#{$color-primary-accent}';
    }
}
#swatch_accent2 {
    .sg-swatch {
        background: $color-primary-accent2;
    }
    .value:before {
        content: '#{$color-primary-accent2}';
    }
}
img {
    margin:0 0 1.5em;
    max-width: 100%;
}

@media (min-width:576px) {
    
}
@media (min-width:768px) {
    .alignleft {
        float:left;
        margin: 0 1.5em 1.5em 0;
    }
    .alignright {
        float: right;
        margin:0 0 1.5em 1.5em;
    }
}
.animate-fade:hover {
    opacity: 0;
}

/*Headlines*/
h1, h2, h3, h4, h5, h6 {
    color:$color-primary;
    padding: 0;
    font-weight: 700;
}
h1 {
    font-size: 1.5em;
    font-weight: 300;
}
h2 {
    font-size: 1.25em;
    font-weight: 300;
}
h3 {
    font-size:1.125em;
}
h4 {
    font-size:1.1em;
}
h5 {
    font-size: 1.05em;
}
h6 {
    font-size:.95em;
}
p {
    line-height: 26px;
    margin: 0 0 1.5em;
}
@media (min-width:768px) {
    h1 {font-size:2.625em}
    h2 {font-size:2em;}
}
/* Text Links */
a, a.a-text-btn {
    color:$color-primary;
    text-decoration:underline;
    &:active, &:hover {
        color: $color-primary-accent;
        text-decoration:none;    
    }
}
/* Buttons */
a.a-btn, .btn, input[type="submit"], button {
    margin: .5em 0;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #006799;
    display: inline-block;
    border-radius: 5px;
    background:#c6c6c6;
    background-image: -moz-linear-gradient(90deg, #c6c6c6 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #c6c6c6 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #c6c6c6 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    color: $color-primary;
    text-decoration: none;
    padding: .75em 1.75em;
    &:hover, &:active {
        opacity: .8;
        color:$color-primary;
        background:#e1e1e1;
        background-image: -moz-linear-gradient(90deg, #e1e1e1 0%, white 100%);
        background-image: -webkit-linear-gradient(90deg, #e1e1e1 0%, white 100%);
        background-image: -ms-linear-gradient(90deg, #e1e1e1 0%, white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        text-decoration: none;
    }
}
b, strong {
    font-weight: 700;
}


/* Progress Bar */
.progress-container {
    border: 1px solid #ddd;
    border-radius:3px;
    display: inline-block;
    padding: .75em 2em .55em 2em;
    background-color:#f9f9f9;
}
progress.a-progress {
    background-color: #f3f3f3;
    height: 15px;
    border-radius:8px;
    width: 250px; 
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
}
progress.a-progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    height: 15px;
    border-radius:8px;
    width: 250px; 
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
}
progress.a-progress::-webkit-progress-value {
    height:15px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1ce56+0,81cc00+100 */
        background: #a1ce56; /* Old browsers */
        background: -moz-linear-gradient(top, #a1ce56 0%, #68A500 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #a1ce56 0%,#68A500 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #a1ce56 0%,#68A500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1ce56', endColorstr='#68A500',GradientType=0 ); /* IE6-9 */
    border-radius:8px 0 0 8px;
}
progress.a-progress::-moz-progress-bar {
    background-color: #f3f3f3;
    height: 15px;
    border-radius:8px;
    width: 250px; 
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.15);

}

/* Blockquote */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    border-radius:0 3px 3px 0;
    margin: 1em 0 0 0;
    padding: 1.5em;
    quotes: "\201C""\201D""\2018""\2019";
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}           
blockquote p {
    display: inline;
}

/* Address */
.address_title {
    
    font-weight: bold;
    color:black;
}
.address_title:hover {
    opacity:.5;
    color:black;
    text-decoration:none;
}
.address_title:focus {
    color:black;
    text-decoration: none;
}

/* Lists */
li, dd {
    margin-bottom: .5em;
}
dt {
    
}
ul, ol, menu, dir {
    max-width:80%;
}
/* Forms */
input, textarea {
    line-height: 1.5em;
    padding:10px 5px;
    border:1px solid #ccc;
    border-radius:3px;
    
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #d9d9d9; 
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
              color: #d9d9d9;
            }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
              color: #d9d9d9;
            }
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
              color: #d9d9d9;
            }

legend {
    
}
select {
    height: 29px;
}
select {
    border-radius:3px;
    width:200px;
}
select option {
    padding: 3px 6px;
}

/* Tables */
table {
    width:100%;
    max-width:500px;
    border-collapse:separate;
    border:solid #ddd 1px;
    border-radius:3px;
    -moz-border-radius:3px;
}
tr {
    background: #eee;
}
tr:nth-child(even){
    background-color: #fcfcfc;
}
th, td {
    padding:2px 5px;
}
.top-row {
    text-transform:uppercase;
}
table caption {
    padding-top: .25rem;
    color:#808080;
}


.limited {
    max-width:500px;
}

/* Images */
.imgBorder_1 {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.imgBorder_2 {
    padding: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1ce56+0,50662a+100 */
    background: #a1ce56;
    border-radius:5px;
}
.imgBorder_3 {
    padding:4px;
    border:1px solid #ddd;
}
.imgBorder_4 {
    border-radius:100%;
}