$pt1: 0.0625em;
$pt2: 0.125em;
$pt3: 0.1875em;
$pt4: 0.25em;
$pt5: 0.3125em;
$pt6: 0.375em;
$pt7: 0.4375em;
$pt8: 0.5em;
$pt9: 0.5625em;
$pt10: 0.625em;
$pt11: 0.6875em;
$pt12: 0.75em;
$pt13: 0.8125em;
$pt14: 0.875em;
$pt15: 0.9375em;
$pt16: 1em;
$pt17: 1.0625em;
$pt18: 1.125em;
$pt19: 1.1875em;
$pt20: 1.25em;
$pt21: 1.3125em;
$pt22: 1.375em;
$pt23: 1.4375em;
$pt24: 1.5em;
$pt25: 1.5625em;
$pt26: 1.625em;
$pt27: 1.6875em;
$pt28: 1.75em;
$pt30: 1.875em;
$pt32: 2em;
$pt34: 2.125em; 
$pt38: 2.375em;
$pt40: 2.5em;   
$pt42: 2.625em;
$pt44: 2.75em;
$pt45: 2.8125em;
$pt48: 3em;
$pt52: 3.25em;
$pt54: 3.375em;
$pt56: 3.5em;
$pt58: 3.625em;