#header {
    box-shadow: 0px 3px 6px rgba(#000,.4);
   .container {
            width: 100%;
        }
    .top {
        background: $color-1;
        padding: 5px 0;
        color: white;
        line-height: .75em;
        text-align: center;
        font-size: $pt14;
        @include MQ(M) {
            font-size: 1em;
            padding: 10px 0;
        }
    }
    position: static;
    button.navbar-toggler {
        align-self: center;
        padding: 0;
        margin-left: 15px;
        svg {
            width: 32px;
            path {
                fill: #c1c1c1;
            }
        }
    }
    

    
    #navbarNavDropdown {
        width: 100%;
        flex: 0 0 100%;
        padding: 0 15px
    }
    .navbar {
        
        justify-content: flex-end;
        position: relative;
        display: flex;
        padding: 0px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        

    }
    #logo-wrapper {
        flex: 0 0 166px;
        max-width: 166px;
        height: 79px;
        .logo {
            position: absolute;
            left: 0;
            width: 166px;
            
        }
    }
    .navbar-nav{
        margin: 0 -15px;
        padding: 1em 0;
        border-top: 1px solid #c1c1c1;
        li{
            margin:0;
            
             a{
                padding: 5px 15px;
                color: #707070;
                 text-decoration: none;
                 font-weight: 900;
            }
        }
        &>li>a {
            text-transform: uppercase;
            
        }
        &>li.open, &>li:hover {
            &>a {
                color: $color-1;
            }
        }
        .dropdown-menu {
            border: none;
            margin: 0;
            padding: 0;
            box-shadow: none;
            li {
                display: block;
                a {
                    background: $color-1;
                    color: #fff;
                    font-size: $pt14;
                }
            }
        }
        .quotebutton {
            display: none;
        }
    }
    
    @include MQ(M){
        .navbar-nav {
            li:hover>.dropdown-menu {
                display: block;
            }
        }
        a.phone {
            display: inline-block;
            text-decoration: none;
            padding: .6em 2.2em;
            border: 1px solid;
            order: 3;
            margin: 0 26px;
            font-weight: 900;
            
            font-size: $pt14;
        }
        #logo-wrapper {
            position: relative;
            height: 100%;
            z-index: 20;
            flex: 0 0 225px;
            max-width: 225px;
            align-self: stretch;
            .logo {
                width: 100%;
            }
        }
        div#navbarNavDropdown {
            text-align: left;
            padding:0;
            width: auto;
            flex: 1 1 auto;
        }
        .navbar{
            margin:0;
            padding:0;
            flex-wrap: nowrap;
        }
        .navbar-nav{
            justify-content: space-between;
            border: none;
            padding: 0;
            width:100%;
            &>li>a {
                padding: 27px 15px;
            }
            .dropdown-menu {
                width: 250px;
                li a {
                    padding: 10px 15px;
                }
            }
        }
        .quotebutton {
            display: inline-block;
            font-size: $pt14;
            order: 4;
        }
    }
}

.page_section {
    padding: 40px 0;
    @include MQ(M) {
        padding: 72px 0;
    }
}

//Hero Image Slider 
.page_section.hero_image_slider, .page_section.hero_image_single {
    padding: 0;
    .slide {
        background-color: #000;
        background-size: cover;
        background-position: center;
        color: #fff;
        text-shadow: 2px 2px 3px rgba(#000, .5);
    }
    .caption {
        position: static;
    }
}


div#home_hero {
    margin: 0 0 5px;
    .caption {
        background: rgba(#000,.1);
        text-align: center;
        padding: 55px 0;
        a {
            @extend .btn;
            font-size: .88889em;
        }
    }

    p {
        font-size: $pt18;
        font-weight: bold;
    }
    @include MQ(M) {
        .caption {
            padding: 110px 0;
        }
        .inner {
            max-width: 884px;
            display: inline-block;
        }
        p {
            font-size: $pt22;
        }
    }
}
.page_section.cta_duo {
    
    .container {
        width: 100%;
        padding: 0;
    }
    text-align: center;
    padding: 0;
    p {
            margin: 0;
        
        }
    .row {
        margin: 0;
    }
    .left-content, .right-content {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .right-content {
        @include MQ(M) {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }
        img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
            box-shadow: inset 0 1000vh 0 rgba(#000,.4);
        }
        a {
            @extend .btn2;
            font-size: $pt30;
            
        }
    }
    .left-content {
        @include MQ(M) {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
            font-size: $pt32;
        }
        font-size: $pt24;
        font-weight: 900;
        p {
            line-height: 1.2em;
        }
        .content {
            background: $color-2;
            color:#fff;
            
        }
    }
    .content {
        position: relative;
        padding: 32px;
        @include MQ(M) {
            padding: 45px 60px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        
    }
    
        
        
    
}

.page_section.half_strait {
    padding: 0;
    .text {
        @include MQ(M){
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .content {
            padding: 42px 15px;
            @include MQ(M) {
                width: 100%;
                max-width: 507px;
                margin: 0 auto;
            }
        }
    }
    .row {
        margin: 0;
        &>div {
            padding: 0;
        }
    }
    p:last-child a{
        @extend .btn;
    }
}
.page_section.half_strait.right {
    .row {
        flex-direction: row-reverse;
    }
    
}
.staticmap img {
    width: 100%;
}
#footer {
    padding: 21px 0 34px;
    .menu {
        ul {
            margin: 0 0 30px;
            padding: 0;
            li {
                display: block;
                margin: 0 0 10px;
                a {
                    font-weight: 900;
                    color: inherit;
                    text-decoration: none;
                }
            }
            ul {
                margin: 10px 0 25px;
                padding-left: 20px;
                li a {
                    font-weight: normal;
                }
            }
        }
    }
    a.logo {
        display: block;
        width: 225px;
        margin: 0 auto 10px;
        @include MQ(M) {
            margin: 0;
        }
    }
    .title, h2 {
        font-size:1.5em;
        font-weight:900;
        color:$color-1;
        margin: 0 0 20px;
    }

    p.name {
        margin: 0;
        font-weight: 900;
    }

    address a {
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
    }

    .social a {
        text-decoration: none;
    }

    

    .social {
        margin: 0 0 28px;
    }

    .phone a {
        color: inherit;
    }
    @include MQ(M) {
         padding: 54px 0 20px
    }
}
#circle_duo {
    h2 {
        em {
            font-style: normal;
            color: #555555;
        }
    }
    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 100%;
        object-position: center;
    }
    @include MQ(M) {
        .row {
            flex-wrap: nowrap;
        }
        .left-content {
            flex: 0 0 401px;
        }
        .right-content {
            flex: 1 1 auto;
            max-width: 100%;
        }
    }
}
#gallery_topper {
    text-align: center;
    padding: 15px 0;
    background: $color-1;
    color: #fff;
    h2 {
        color: inherit;
        margin: 0;
    }
}
#testimonial_carousel {
    h2 {
        color: #555;
        margin-bottom: 35px;
    }
    background: $color-4;
    background: $color-4;
    
    
    
    text-align: center;
    .testimonial {
        .stars {
        margin: 0 0 24px;
            svg {
                display: inline-block;
                width: 20px;
                path {
                    fill:$color-2;
                }
            }
        }
        padding: 0 0 43px;
        .content {
            font-size: $pt20;
            font-weight: 900;
            margin: 0 0 43px;
            padding: 0 30px;
        }
        .signature {
            text-align: right;
            text-transform: uppercase;
            color: $color-1;
            font-weight: 900;
        }
    }
}
.testi_feed {
    .testimonial {
        margin: 0 0 30px;
    }
    .stars {
        margin: 0 0 24px;
        svg {
            display: inline-block;
            width: 20px;
            path {
                fill:$color-2;
            }
        }
    }
    .signature {
        font-size: 1.125em;
        text-transform: uppercase;
        color: $color-1;
        font-weight: 900;
    }
    
}
.page_section.dual_column_text.list_video {
    ul {
        li:marker {
            color: $color-1;
        }
        li a {
            font-style: italic;
            color: $color-2;
            font-weight: bold;
        }
    }
    @include MQ(M) {
        .left-content {
            flex: 0 0 33.33333%;
            max-width: 33.3333%;
            
        }
        .right-content {
            flex: 66.66667%;
            max-width: 66.66667%;
        }
    }
}
#home_gallery {
    padding: 0;
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}
#wave {
    background: $color-1;
    height: 30px;
    @incldue MQ(M) {
        height: 112px;
    }
}
#contact-form {
    background: #f1f1f1;
    text-align: center;
    .gform_wrapper {
        text-align: left;
    }
    @include MQ(M) {
        .col {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
    }
}
div#home_assoc {
    .card_row {
        align-items: center;
    }
    .container {
        width: 100%;
    }
    text-align: center;

    .iconcard {}

    .cardwrap+.cardwrap {
        margin: 10px 0 0;
        @include MQ(M) {
            margin: 0;
        }
    }
    @include MQ(M) {
        padding: 42px;
        .cardwrap {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}
#cta_reservation {
    margin-bottom: 4px;
    padding: 10px 0 20px;
    position: relative;
    top: -1px;
    z-index: 2;
    h2 {
        color: inherit;
    }
    
    background-color: $color-1;
    
    color: #fff;
    text-align: center;
    p {
        font-size: 1.125em;
    }
    a {
        @extend .btn2;
        font-size: .77777em;
    }
    @include MQ(M) {
        padding: 30px 0 43px;
    }
}
#copyright {
    padding: 5px 0;
    background: $color-2;
    color: #fff;
    font-size: .75em;
    ul, {
        display: inline;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    li:after {
       content: '|';
       display: inline-block;
        
    }
    li:last-child:after {
        content: '';
        display: none;
    }
    a {
        color:inherit;
        text-decoration:none;
        display: inline-block;
        padding: 0 5px;
    }
}
//secondary 
#content {

    .gallery-item {
        margin: 0 0 30px;
        padding: 0 15px;
        img {
            aspect-ratio: 4/3;
            width: 100%;
            object-fit: cover;
            object-position: top center;
            border: none;
        }
    }
    .page_title {
        background-image: url(../img/default-hero.jpg);
        background-color: #000;
        color: #fff;
        background-size: cover;
        background-position: center;
        height: 333px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .line {
            padding: 15px;
            background: rgba(#000,.5);
        }
        h1 {
            color: #fff;
            margin: 0;
            font-size: $pt38;
        }
    }
    .main-content {
        padding: 35px 15px;
        @include MQ(M){
            padding: 83px 0;
        }
    }
    
}
#allcats {
    align-items: center;
    margin: 0 0 19px;
    font-size: $pt13;
    text-transform: uppercase;
    h2 {
        font-size: 1em;
        font-weight: normal;
        color: #555;
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-weight: 900;
        padding: 0 8px;
        margin: 0 8px;
        
    }
    a:hover, a.active {
        color: $color-1;
    }
    .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include MQ(S) {
            
        flex-wrap: nowrap;
            
        
        .col_header {
            flex: 0 0 90px;
        }
        .col_nav {
            flex: 1 1 auto;
        }
    }
}
.feedposts {
    a {
        display: flex;
    }
    .feedpost {
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 6px rgba(#000, .16);
        flex: 1 1 100%;
        height: 100%;
        img {
            height: 218px;
            object-fit: cover;
            object-position: center;
            flex: 0 0 218px;
        }
        img.noimage {
            object-fit: contain;
        }
        margin-bottom: 30px;
        h2 {
            font-size: $pt18;
            font-weight: 700;
            color: #555;
        }
        .content {
            padding: 15px 30px 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 1 100%;
        }
        .excerpt {
            flex: 1 1 auto;
        }
        .btn {
            font-size: $pt14;
            padding: 7px 18px;
        }
        &:hover {
            opacity: .8;
        }
    }
}
.shareicons {
    color: #505050;
    margin: 0 0 1.5em;
    svg {
        height: 24px;
        path {
            fill: #505050;
        }
    }

    a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        margin: 0 6px;
    }

    strong {
        
        text-transform: uppercase;
        font-size: $pt18;
    }
}
#recent_posts {
    background: #f7f7f7;  
    padding: 30px;
    h2 {
        text-align: center;
        margin: 0 0 30px;
    }
    @include MQ(M){
        padding: 72px 0;
        h2 {
            margin: 0 0 72px;
        }
    }
}
#single-blog {
    .cats {
        a {
            font-size: $pt14;
            text-transform: uppercase;
            color: inherit;
            text-decoration: none;
        }
    }
    h1 {
        color: $color-1;
        font-size: 2em;
    }
}
@media (max-width:991px) {
    #header {
        
        
        .phone {
            display: inline-block;
            width: 34px;
            height: 34px;
            overflow: hidden;
            white-space: nowrap;
            text-indent: 100em;
            background-image: url(../img/phone.svg);
            background-size: contain;
            background-position: center;
        }
    }
}
@media (min-width:992px) {
    #cta_duo2 .row {
        flex-direction: row-reverse;
    }
}