
.cs_header #header {
    padding: 1em 0;
    border-bottom: 1px solid #e8e8e8;
    .logo_wrap {
        flex: 0 0 167px;    
    }
    
    .phone {
 
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    .row {
        align-items: center;
    }
}




#cs_page {
    position: relative;
    background: #000;
    color: #fff;
    h1,h2,h3,h4,h5 {
        color: inherit;
    }
    &>img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
        
    }
    .cs_content {
        position: relative;
        z-index: 2;
        background: rgba(#000,.6);
        padding: 30px 0;
            @include MQ(M) {
                padding: 120px 0;
            }
        color: #fff;

    }
    .container {
        
        color: #fff;
        text-shadow: 1px 1px 3px rgba(#000,.9);
    }
}

#footer.cs_footer {
    &>.container {
        padding: 2em 15px;
    }
    border-top: 1px solid #e8e8e8;
    .logo {
        display: block;
        width: 250px;
    }
    .social {
        a {
            
            display: inline-block;
            width: 35px;
            vertical-align: middle;
            margin: 15px;
        }
        svg path {
            fill:$color-1;
        }
    }
    h2 {
        color: $color-1;
        font-size: 1.25em;
        font-weight: bold;

    }
    #copyright {
        padding: 5px 0;
        font-size: .875em;
        background: $color-1;
        color: #fff;
        ul {
            display: none;
        }
        a {
            color: inherit;
        }
    }
}